.page {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--font-color);
	/* background-color: var(--secondary-color); */
}

.page__body {
	height: 100vh;

	min-width: 375px;
	background-color: var(--back-color);
}

.container {
	width: min(var(--container), 100%);
	margin: auto;
}

.general-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 38px 35px 48px minmax(663px, 853px) auto auto auto;
}
