html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

.container {
	max-width: 1320px;
	border-bottom: 1px solid #888;
	padding: 0 15px;
	margin: 0 auto;
}

.header-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.box {
	width: 50px;
	height: 50px;
	background-color: #027a3e;
	margin: 20px 0;
	border-radius: 6px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

a {
	color: black;
}

.article-2 a {
	color: black;
	padding: 0 20px 20px 0;
}

.link-green-hover:hover {
	color: #027a3e;
}

.phone-number {
	text-decoration: none;
	color: black;
}

.phone-number:hover {
	color: #f80303;
}
