.header-main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-column: 12 span;
	gap: clamp(15px, 0.357rem + 2.38vw, 40px);
	min-height: 48px;
	padding-top: 73px;
	padding-bottom: 15px;
}

.header-main--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.logo {
	font-weight: 700;
	font-size: clamp(25px, 1.4rem + 0.67vw, 32px);
	color: var(--font-color);
	padding-inline: 16px;
}

/* @media (width > 768px) {
	.logo {
		padding-inline: 16px;
	}
} */

.header__menu .menu__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	list-style: none;
	padding: 0;
}

@media (width <= 768px) {
	.header__menu {
		position: fixed;
		top: 0;
		bottom: 0;
		left: -100vw;
		padding-top: 145px;
		padding-left: 25px;
		min-width: 265px;
		background-color: grey;
		box-shadow: var(--shadow-color);
		opacity: 0;
		visibility: hidden;
		transition:
			left 0.5s,
			opacity var(--trans-time),
			visibility var(--trans-time);
	}
	.header__menu--open {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	.header__menu .menu__list {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		text-align: start;
	}

	.header__menu-arrow {
		stroke: var(--font-color);
	}

	.header-main {
		gap: 0;
	}
	.logo {
		font-size: 25px;
		z-index: var(--layer-2);
	}

	.logo,
	.burger--open {
		position: absolute;
		top: 71px;
		left: 56px;
	}
}

.menu__item {
	/* display: inline-block; */
	white-space: nowrap;
}

.drop-menu__list {
	display: none;
	position: absolute;
	top: 90%;
}

.drop-menu__list-item {
	font-family: Satoshi;
	font-size: 16px;
	padding-top: 10px;
	/* background-color: var(--bg-color); */
	border-radius: 5px;
	cursor: pointer;
}

.menu__item:hover > .drop-menu__list {
	display: inherit;
}

.menu__link {
	text-align: center;
	text-decoration: none;
	font-family: Satoshi;
	font-weight: 400;
	font-size: 16px;
	color: var(--font-color);
}

.header__menu--open .menu__link {
	color: var(--main-color);
}
.header__menu--open .header__menu-arrow {
	stroke: var(--main-color);
}

@media (width > 992px) {
	.search {
		position: relative;
		display: flex;
		width: 462px;
		font-weight: 400;
		font-size: 16px;
		color: var(--description-color);
	}
	.search__icon {
		position: absolute;
		top: 12px;
		left: 16px;
	}

	.search__icon-mobile {
		display: none;
	}

	.search__input {
		width: 100%;
		min-width: 210px;
		border: none;
		border-radius: 62px;
		padding: 12px 16px;
		padding-left: 52px;
		background-color: var(--bg-color);
	}

	.search__input::placeholder {
		position: absolute;
		left: 52px;
	}
}

@media (width <= 992px) {
	.search {
		display: none;
	}

	.action-buttons {
		margin-left: auto;
	}
}

.action-buttons {
	display: flex;
	align-items: center;
	gap: 14px;
	padding-right: 16px;
}

.action__buttons-icon {
	cursor: pointer;
}
