.big-star {
	position: absolute;
	top: calc(5% + 24px);
	right: calc(6% - 45px);
	max-width: 23%;
	display: block;
	height: auto;
}

@media (993px <= width <= 1024px) {
	.big-star {
		top: calc(4.5% + 20px); /* ближе к базовому */
		right: calc(5.5% - 42px); /* почти как базовый */
		max-width: 24%; /* почти базовый размер */
	}
}

@media (450px <= width <= 992px) {
	.big-star {
		top: calc(9% + 24px);
		right: calc(8% - 45px);
		max-width: 17%;
	}
}
@media (390px <= width <= 449px) {
	.big-star {
		top: calc(3% + 24px);
		right: calc(14% - 45px);
		max-width: 17%;
	}
}
