.choose.container {
	background-color: var(--bg-color);
	overflow: hidden;
	border-radius: 40px;

	margin-bottom: 80px;
}

.styles-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);

	gap: 20px;
	padding-left: clamp(24px, calc(3vw + 1rem), 64px);
	padding-right: clamp(24px, calc(3vw + 1rem), 64px);
	padding-bottom: clamp(27px, 1.5vw + 24px, 76px);
}

.styles__card {
	position: relative;
	display: block;
	border-radius: 20px;
	overflow: hidden;
	min-height: 298px;
}

.styles__card:focus-visible img {
	transform: scale(1.05);
	filter: brightness(0.85);
}

.styles__card:focus-visible .text-overlay {
	opacity: 1;
	transform: scale(0.96);
}

.styles__img-wrapper {
	max-height: 298px;
	overflow: hidden;
	border-radius: inherit;
	height: 100%;
}

.styles__card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition:
		transform var(--trans-time),
		filter var(--trans-time);
}

@media (any-hover: hover) {
	.styles__card:hover img {
		transform: scale(1.05);
		filter: brightness(0.85);
	}
}

.styles__card--normal {
	grid-column: span 2;
}

.styles__card--wide {
	grid-column: span 3;
}

.text-overlay {
	position: absolute;
	top: clamp(12px, 2vw, 26px);
	left: clamp(12px, 2.5vw, 36px);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: clamp(24px, 2.5vw, 36px);
	color: var(--font-color);
	display: inline-block;
	opacity: 0.7;
	transition:
		opacity var(--trans-time),
		transform var(--trans-time);
}

@media (any-hover: hover) {
	.styles__card:hover .text-overlay {
		opacity: 1;
		transform: scale(0.96);
	}
}

@media (width <= 576px) {
	.styles-container {
		display: grid;
		grid-template-columns: 1fr;

		padding: 0 24px 27px 24px;
	}

	.styles__card--wide {
		grid-column: span 2;
	}

	.styles__card img {
		filter: blur(2px);
	}
}
