.arrivals-products {
	border-bottom: 1px solid var(--secondary-color);
}

.arrivals__title,
.bestsellers__title,
.choose__title {
	margin-bottom: clamp(32px, 4vw + 10px, 55px);
	margin-top: clamp(52px, 3vw + 30px, 72px);
	font-size: min(max(30px, 3.75vw), 48px);
}

.products {
	display: grid;
	grid-template-columns: repeat(4, minmax(170px, 1fr));
	justify-content: center;
	gap: 20px;
	padding: 20px 0;
}

@media (width < 768px) {
	.products {
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
		gap: 10px;
	}
}

@media (width < 420px) {
	.products {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
}

.product__card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: transform var(--trans-time);
}

@media (any-hover: hover) {
	.product__card:hover {
		transform: translateY(-2px);
	}
}

.product__card:focus-visible {
	outline: 1px solid var(--font-color);
	outline-offset: 4px;
	border-radius: 20px;
}

@media (width <=576px) {
	.product__card:nth-child(3),
	.product__card:nth-child(4) {
		display: none;
	}
}

.product__img-wrapper {
	background: var(--bg-color);
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 16px;
	position: relative;
	max-height: 298px;
	height: 100%;
}

.product__card img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
	transition: transform var(--trans-time);
}

@media (any-hover: hover) {
	.product__card:hover img {
		transform: scale(1.04);
	}
}

@media (width < 768px) {
	.product__img-wrapper {
		max-height: 200px;
	}
}

.title-medium {
	font-size: min(max(15px, 1.25vw), 20px);
	padding-bottom: 8px;
}

.rating {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
	margin-bottom: 8px;
}

.stars-count {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	color: var(--font-color);
}
.review-count {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	color: var(--description-color);
}

.product__price {
	display: flex;
	align-items: center;
	gap: clamp(5px, 2vw, 10px);
}

.real-price {
	color: var(--font-color);
}

.ex-price {
	text-decoration: line-through;
	color: var(--secondary-color);
}

.real-price,
.ex-price {
	padding: 2px 0;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: min(max(18px, 1.5vw), 24px);
}

.discount {
	display: flex;
	align-items: center;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 12px;
	color: var(--accent-color);
	background-color: var(--underlay-accent-color);

	border-radius: 62px;
	padding: 6px 14px;
	width: 58px;
	height: 28px;
}

@media (width <=992px) {
	.discount {
		padding: 3px 7px;

		width: 40px;
		height: 20px;
		font-size: 10px;
	}
}

.button-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: clamp(26px, 2vw + 20px, 36px);
	text-align: center;
}

.view-all-btn {
	white-space: nowrap;
	line-height: 1;
	border: 1px solid var(--secondary-color);
	background-color: var(--main-color);
	border-radius: 62px;
	padding: 16px 48px;
	width: min(218px, 100%);
	height: 52px;
	margin-bottom: 64px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	display: inline-block;
	color: var(--font-color);
	transition:
		transform var(--trans-time),
		background-color var(--trans-time),
		color var(--trans-time),
		border var(--trans-time);
}

@media (any-hover: hover) {
	.view-all-btn:hover {
		border: 1px solid var(--font-color);
	}
}

.view-all-btn:focus-visible {
	outline: 1px solid var(--font-color);
	outline-offset: 4px;
	border-radius: 62px;
}

.view-all-btn:active {
	transform: scale(0.95);

	opacity: 0.8;
}

@media (width <= 992px) {
	.view-all-btn {
		font-size: 14px;
		padding: 16px 54px;
		width: min(358px, 100%);
		height: 46px;
	}
}
