html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #888;
}

.box {
	width: 50px;
	height: 50px;
	background-color: #027a3e;
	margin: 20px 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul li {
	display: inline-block;
}

.article-2 a {
	color: black;
	padding: 0 20px 20px 0;
}

.article-2 a:hover {
	color: #027a3e;
}

.article-3 a {
	text-decoration: none;
	color: black;
}

.article-3 a:hover {
	color: #f80303;
}
