* {
	box-sizing: border-box;

	body {
		margin: 0;
		font-family: sans-serif;
	}
}
table {
	width: 200px;
	margin: 10px 10px 20px;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th,
caption {
	border: 1px solid #000;
}

caption {
	border-bottom: none;
}

td {
	text-align: center;
}
.font {
	font-weight: bold;
}
.color {
	color: red;
}
